<div class="d-flex container flex-column align-items-center">
  <div
    [ngClass]="titleClasses"
    [ngStyle]="titleStyles"
    class="mb-5 text-muted text-center"
  >
    🐱‍💻 Threat Doughnut 🍩
  </div>
  <div
    class="d-none d-lg-flex flex-wrap container justify-content-center w-100"
  >
    <app-form class="flex-fit"></app-form>
    <app-graph class="flex-fit mt-2 ml-3 p-3 h-100"></app-graph>
  </div>
  <div class="d-flex flex-column d-lg-none lead text-center">
    I haven't figured out how to make D3 stuff responsive yet.
    <div class="mb-2" style="font-size: 56px">
      🤷‍♂️
    </div>
    Use a bigger screen size, for now.
  </div>
  <flash-messages></flash-messages>
</div>
